.nav {
    background-color: blue;
    margin: 20px;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    color: white;
    border: 3px solid lightgreen;
}

.seccionGlobal {
    width: 50%;
    text-align: center;
    height: 500px;
    box-shadow: lightcyan; 
    background-color: lightblue;   
    position: relative;
    text-align: center;
    margin: auto;
}

.seccionImg {
    position: absolute;
    width: 35%;
    height: 350px;
    border-radius: 8px;
    border: 3px solid red;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    margin-top: 100px;
}

.seccionDesc {
    float: right;
    width: 65%;
    height: 350px;
    border: 3px solid green;
    border-radius: 8px;
} 

li{
    list-style: none;
}

.seccionGuardar {
    border: 3px solid yellow;
    border-radius: 8px;
    width: 100%;
    height: 150px;
    position: absolute;
    top: 350px;
}

.botones {
    margin: auto;
    position: relative;
    top: 50px;
}

